<article>
   <a href="/dashboard" class="dashboard-btn">&larr; Back to dashboard</a>
   <h2 class="edit-title">Edit Post</h2>
   <form class="edit-post-form">
      <div name = "post-id" value = "{{post.id}}">
         <input name="post-title" type="text" value="{{post.title}}" />
         <span>({{format_url post.post_url}})</span>
      </div>
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
   </form>
</article>

<form class="comment-form">
   <div>
      <textarea  name="comment-body"></textarea>
   </div>

   <div>
      <button type="submit">Add comment</button>
   </div>
</form>

{{> comments post.comments }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>