:root {
  --primary-color: #A7C0CD;
  --secondary-color: black;
  --tertiary-color: #FE7860;
}

* {
  box-sizing: border-box;
}


html {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: var(--primary-color);
  position: relative;
}

body {
  background-color: lightgray;
}

.main-body {
  min-height: 100vh;
}

p {
  color: tert;
}

a {
  font-weight: bold;
  transition: color .1s;
}


button {
  background-color: var(--primary-color);
  border: 0;
  padding: 1%;
  color: black;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
  color: white;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

textarea {
  max-width: 60%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--tertiary-color);
}

header h1 {
  font-size: 3em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}



.delete-post-btn {
  background-color:darkred;
  color: rgb(0, 0, 0);
}


.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #ff0000;
}

.edit {
  border-radius: 10px;
  padding-top: 5px;
}

.comment-form {
  margin-bottom: 5%;
}



.comment {
  padding: 1%;
  margin-bottom: 1%;
  background-color:rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  width: 100vw;
}

.comment:nth-child(odd) {
  background-color: var(--primary-color);
  color: black;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

#comment-body {
  opacity: 80%;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
}

.submit-btn {
  color: rgb(0, 0, 0);
  background-color: var(--tertiary-color);
}

h2,
label,
li
{
  color: black;
}

.new-post-form input {
  width: 300px;
}

.edit-title {
  color: black;
}

.edit-post-form {
  margin-bottom: 5%;
  color: black;
}

.edit-post-form a {
  color: black;
}


.btn {
  background-color: green;
  font-weight: bold;
}

.post {
  background-color: var(--primary-color);
  margin: auto;
  justify-content: center;
  color: black;
  border: 1px solid #ffffff;
  opacity: 80%;
}

.post p {
  color: black;
}

.post a{
  color: #000000;
}

.meta a {
  color: #000000;
  text-shadow: 1px 1px #ffffff;

}

.card {
  opacity: 100%;
  background-color: var(--primary-color);
}